/* First of all creatinf our some of the custom variables */
:root{ 
         --main-bg-color:rgb(186, 110, 196);   
         --text-color:#fff;
}





#title{ 
       font-family: 'Ubuntu', sans-serif;
      background-color: var(--main-bg-color);
       overflow: hidden;
}

.container-fluid{ 
        padding: 3% 15% 7%;
        color:var(--text-color);
       
        height: 40rem;

}

.navbar-brand{ 
          font-size: 2.5rem;
          padding: 0;
          margin: 0;
        
}
.navbar-nav{ 
          font-size: 1.5rem;
}

.headertext{
          margin: 3rem 0rem;
          line-height: 4.5rem;
          font-size: 3rem;
          font-weight: 900;
}


 .col-lg-6 img{ 
             width: 60%;
            transform: rotate(20deg);
            position: relative;
            top: 3rem;
    
            /* overflow: hidden; */
 }              


 .download-button{
             margin: 5% 3% 5% 0;
 }
 

 /* starting out the features section from here on */


#features{
       color:var(--text-color);
       
          
          margin: 10rem 0rem;
          overflow: hidden;
}


.col-lg-4{
        text-align: center;
}

.col-lg-4 h3{
       font-family: 'Montserrat', sans-serif;
       font-size: 1.5rem;
}
.col-lg-4 p{
     color: #8f8f8f;
}

.logo1{ 
         color: skyblue;
}
.logo2{ 
         color:salmon;
}
.logo3{ 
         color: purple;
}

/* starting out with testimonials secion */

#testimonials{ 
       background-color: var(--main-bg-color);    
          text-align: center;
          color:var(--text-color);
       

}

.testimonials-text{ 
       font-family: 'Montserrat', sans-serif;
       line-height: 3.5rem;
       font-size: 2rem;
       /* line-height: 1.5rem; */
} 
 
.test1-img{
         
       width: 10%;
       border-radius: 200%;
       margin-right: 2rem;
} 

#press{ 
       background-color: var(--main-bg-color);        
        text-align: center;
         padding-bottom: 3%;
}

.pressimg{ 
         width: 15%;
         margin: 20px 20px 50px;
}

.carousel-item{ 
       padding: 7% 15%;
}

/* pricing section */

#pricing{
       text-align: center;
         padding:100px;
}

.pricing-column{ 
          
         padding:3% 2%;
}

/* here on we'll start the cta and footer section */

#cta{ 
       background-color: var(--main-bg-color);
       width: 100%;
       height: 22rem;
       text-align: center;
       display: flex;
       flex-flow: column nowrap;
       justify-content: center;
       margin-bottom: 4rem;      
 
}

.cta-text{ 
         font-size: 3rem;
         color:var(--text-color);
       
         font-family: 'Montserrat', sans-serif;

}

#cta button{
             margin-bottom: 2rem;
       }
  
 #footer{ 
           text-align: center;
 }      



 /* adding some media query in title section for mobile and tablets design */  
@media (min-width:300px) and (max-width:1000px) {

   #title{
            text-align: center;
          
   }

   .col-lg-6 img{ 
           display: none;
}              


}

